*.swp
*.swo
*~
*.out
.vagrant
/server/server
/server/server.exe
/server/testresults/*/*
!/**/placeholder
/competing_product/debug.log
/competing_product/.gradle/
/competing_product/build/
/report_generator/siege_url_files/*temp.txt
