*.swp
*.swo
*~
*.out
.vagrant
.DS_Store
/server/server
/server/server.exe
/server/testresults/*/*
/competing_product/debug.log
/competing_product/.gradle/
/competing_product/build/
/report_generator/siege_url_files/*temp.txt
/scripts/profiler_results/*
!/**/placeholder

node_modules/

.idea
RIC gopath.iml
RIC.iml
aws/credentials
RIC_image_repository
!RIC_image_repository/.gitkeep
*.deb
RIC_image_repository_test

assets/test_assets/testresults/*/*
!docker/go/src/github.com/phzfi/RIC/server
docker/go/