*.swp
*.swo
*~
*.out
.vagrant
.DS_Store
/server/server
/server/server.exe
/server/testresults/*/*
/competing_product/debug.log
/competing_product/.gradle/
/competing_product/build/
/report_generator/siege_url_files/*temp.txt
/scripts/profiler_results/*
!/**/placeholder

