[Unit]
Description=RIC service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ric
ExecStart=/usr/local/bin/ric

[Install]
WantedBy=multi-user.target